
body {
    font-size: 14px;
    background: gray;
    text-align: center;
}

span {
    font-size: 5em;
}



img {
    max-height: 300px;
    /*margin: 10em auto;
    border: 1px solid #000;
    padding: 1em 2em 3em 4em;
    background: pink;*/
}

ol {
    display: inline-block;
    text-align: left;
}
