<!DOCTYPE html>
<html>
<head>

    <title>@ViewData["Title"] - Gloria </title>


    <!--Begin: Bootstrap-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <!--End: Bootstrap-->
    <!--Begin: Custom CSS-->
    <link href="~/css/site.css" rel="stylesheet" />

    <!--End: Custom CSS-->


</head>
<body>



    @RenderBody()

    <!--jQery first, then Popper.js, then Bootstrap JS-->
    <script src="~/lib/jquery/dist/jquery.js"></script>


    <script src="~/lib/bootstrap/assets/js/vendor/popper.min.js"></script>

    <!--BEGIN Bootstrap Javascript-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <!--END Bootstrap Javascript-->

    @RenderSection("Scripts", required: false)
</body>
</html>
