@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="demo" class="carousel slide container" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">

            <img src="~/images/luffy.png" alt="Monkey D Luffy" />
            <div class="carousel-caption">
                <h3>Luffy!</h3>
                <p>We had such a great time in LA!</p>
            </div>
        </div>
        <div class="carousel-item">

            <img src="~/images/zoro.png" alt="Roronoa Zoro" />
            <div class="carousel-caption">
                <h3>Chicago</h3>
                <p>Thank you, Chicago!</p>
            </div>
        </div>
        <div class="carousel-item">

            <img src="~/images/nami.png" alt="Cat Burgalur Nami" />
            <div class="carousel-caption">
                <h3>New York</h3>
                <p>We love the Big Apple!</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<p>
    List of Characters:
    <ol>
        <li>Monkey D. Luffy</li>
        <li>Roronoa Zoro</li>
        <li>Nami</li>
        <li>Usopp</li>
        <li>Sanji</li>
        <li>Tony Tony Chopper</li>
        <li>Nico Robin</li>
        <li>Franky</li>
        <li>Brook</li>
    </ol>
</p>