@page
@model My_First_PageModel
@{
    ViewData["Title"] = "My_First_Page";
}

<h1>One Piece</h1>


<div>
    <strong>One Piece (Japanese: ワンピース Hepburn: Wan Pīsu)</strong> is a Japanese manga series written and illustrated by <a href="https://en.wikipedia.org/wiki/Eiichiro_Oda"> Eiichiro Oda</a>. It has been serialized in <a href="http://www.shonenjump.com/e/" target="_blank">Shueisha's Weekly Shōnen Jump magazine</a> since July 22, 1997, and has been collected in 88 tankōbon volumes. The story follows the adventures of Monkey D. Luffy, a boy whose body gained the properties of rubber after unintentionally eating a Devil Fruit. With his crew of pirates, named the Straw Hat Pirates, Luffy explores the Grand Line in search of the world's ultimate treasure known as "One Piece" in order to become the next Pirate King.
</div>
<p>
    The manga has been adapted into an original video animation (OVA) produced by Production I.G in 1998, and an anime series produced by Toei Animation, which began broadcasting in Japan in 1999. Additionally, Toei has developed thirteen animated feature films, one OVA and eleven television specials. Several companies have developed various types of merchandising such as a trading card game and numerous video games. The manga series was licensed for an <a href="https://www.viz.com/company-contact" target="_blank">English language release in North America and the United Kingdom by Viz Media and in Australia by Madman Entertainment</a>. The anime series was licensed by 4Kids Entertainment for an English-language release in North America in 2004, before the license was dropped and subsequently acquired by Funimation in 2007.
</p>
<div>
    One Piece has received praise for its storytelling, art, characterization, and humor. Several volumes of the manga have broken publishing records, including the highest initial print run of any book in Japan. The official website for Eiichiro Oda's One Piece manga announced that the manga has set a Guinness World Record for "the most copies published for the same comic book series by a single author". As of October 2017, the manga has sold over 430 million copies worldwide, making it the best-selling manga series in history. It became the best-selling manga for the tenth consecutive year in <span>2017</span>.
</div>


<p>
    <img src="~/images/strawhat_timeskip.jpg" alt="picture of dog" title="Straw Hat Crew">
</p>

<p>
    <a href="/" target="_blank">Straw Hat Pirates</a>
    <ol>
        <li>Monkey D. Luffy</li>
        <li>Roronoa Zoro</li>
        <li>Nami</li>
        <li>Usopp</li>
        <li>Sanji</li>
        <li>Tony Tony Chopper</li>
        <li>Nico Robin</li>
        <li>Franky</li>
        <li>Brook</li>
    </ol>
</p>

<div><a href="mailto:onepiece@shonenjump.com"> Contact Shonen Jump </a></div>